Repository massalabs/massa, pull requests merged in 2022-10, with the labels that each got.

#3077 Improve storage perf in Execution
  .config/lingo.dic
  README.md
  docs/index.rst
  docs/technical-doc/vm-block-feed.rst
  docs/technical-doc/vm-ledger-interaction.rst
  massa-consensus-worker/pos.md
  massa-consensus-worker/src/consensus_worker.rs
  massa-consensus-worker/src/tests/tools.rs
  massa-execution-exports/src/controller_traits.rs
  massa-execution-exports/src/test_exports/mock.rs
  massa-execution-worker/src/active_history.rs
  massa-execution-worker/src/controller.rs
  massa-execution-worker/src/execution.rs
  massa-execution-worker/src/lib.rs
  massa-execution-worker/src/request_queue.rs
  massa-execution-worker/src/slot_sequencer.rs
  massa-execution-worker/src/tests/mock.rs
  massa-execution-worker/src/tests/scenarios_mandatories.rs
  massa-execution-worker/src/worker.rs
  massa-graph/src/block_graph.rs
  massa-models/src/slot.rs
Labels: execution

#3094 Intro doc
  docs/index.rst
  docs/technical-doc/architecture.drawio.svg
  docs/technical-doc/architecture.rst
  docs/technical-doc/block_parents.drawio.svg
  docs/technical-doc/cliques.drawio.svg
  docs/technical-doc/incompatibility_graph.drawio.svg
  docs/technical-doc/operation_lifecycle.drawio.svg
  docs/technical-doc/selector.drawio.svg
  docs/technical-doc/structure.drawio.svg
  docs/technical-doc/unfinalized_blocks_set.drawio.svg
Labels: documentation

#3183 fix get_stakers sort result
  README.md
  massa-api/src/public.rs
  massa-node/base_config/config.toml
Labels: bug, api

#3158 refactor add_staking_secret_keys + enhance ApiError
  Cargo.lock
  massa-api/src/error.rs
  massa-api/src/lib.rs
  massa-api/src/private.rs
  massa-api/src/public.rs
  massa-client/src/cmds.rs
  massa-sdk/Cargo.toml
  massa-sdk/src/lib.rs
  massa-signature/src/error.rs
  massa-signature/src/signature_impl.rs
Labels: api, breaking
