Repository massalabs/massa, pull requests merged in 2023-06, with the labels that each got.

#4058 Migrate to massa-proto-rs
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  massa-async-pool/Cargo.toml
  massa-async-pool/src/mapping_grpc.rs
  massa-client/Cargo.toml
  massa-client/src/cmds.rs
  massa-execution-exports/Cargo.toml
  massa-execution-exports/src/mapping_grpc.rs
  massa-final-state/Cargo.toml
  massa-final-state/src/mapping_grpc.rs
  massa-grpc/Cargo.toml
  massa-grpc/README.md
  massa-grpc/src/api.rs
  massa-grpc/src/handler.rs
  massa-grpc/src/lib.rs
  massa-grpc/src/server.rs
  massa-grpc/src/stream/new_blocks.rs
  massa-grpc/src/stream/new_blocks_headers.rs
  massa-grpc/src/stream/new_endorsements.rs
  massa-grpc/src/stream/new_filled_blocks.rs
  massa-grpc/src/stream/new_operations.rs
  massa-grpc/src/stream/new_slot_execution_outputs.rs
  massa-grpc/src/stream/send_blocks.rs
  massa-grpc/src/stream/send_endorsements.rs
  massa-grpc/src/stream/send_operations.rs
  massa-grpc/src/stream/tx_throughput.rs
  massa-grpc/src/tests/test.rs
  massa-ledger-exports/Cargo.toml
  massa-ledger-exports/src/mapping_grpc.rs
  massa-models/Cargo.toml
  massa-models/src/mapping_grpc.rs
  massa-proto/Cargo.toml
  massa-proto/build.rs
  massa-proto/doc/api.md
  massa-proto/doc/index.html
  massa-proto/proto/massa/api/v1/api.proto
  massa-proto/proto/massa/api/v1/block.proto
  massa-proto/proto/massa/api/v1/common.proto
  massa-proto/proto/massa/api/v1/endorsement.proto
  massa-proto/proto/massa/api/v1/execution.proto
  massa-proto/proto/massa/api/v1/operation.proto
  massa-proto/proto/massa/api/v1/slot.proto
  massa-proto/proto/massa/api/v1/versioning.proto
  massa-proto/proto/third-party/google/api/annotations.proto
  massa-proto/proto/third-party/google/api/http.proto
  massa-proto/proto/third-party/google/rpc/status.proto
  massa-proto/src/_includes.rs
  massa-proto/src/api.bin
  massa-proto/src/google.api.rs
  massa-proto/src/google.rpc.rs
  massa-proto/src/lib.rs
  massa-proto/src/massa.api.v1.rs
  massa-sdk/Cargo.toml
  massa-sdk/src/lib.rs
  massa-versioning/Cargo.toml
  massa-versioning/src/grpc_mapping.rs
Labels: blocked

#4078 Test for when bs-client doesn't send complete message
  massa-bootstrap/src/bindings.rs
  massa-bootstrap/src/tests/binders.rs
Labels: bootstrap, test

#4113 Bootstrap/fix event loop exit
  massa-bootstrap/src/server.rs
Labels: bootstrap

#4059 Bootstrap/restore bandwidth limit
  Cargo.lock
  massa-bootstrap/Cargo.toml
  massa-bootstrap/src/bindings/client.rs
  massa-bootstrap/src/bindings/server.rs
  massa-bootstrap/src/client.rs
  massa-bootstrap/src/server.rs
  massa-bootstrap/src/settings.rs
  massa-bootstrap/src/tests/binders.rs
  massa-bootstrap/src/tests/scenarios.rs
  massa-bootstrap/src/tests/tools.rs
  massa-node/base_config/config.toml
  massa-node/src/settings.rs
Labels: bootstrap

#4119 Add regression test for #3932
  massa-bootstrap/src/tests/scenarios.rs
Labels: bootstrap

#4086 Bootstrap/no opt waker
  massa-bootstrap/src/listener.rs
  massa-bootstrap/src/server.rs
  massa-bootstrap/src/tests/scenarios.rs
  massa-node/src/main.rs
Labels: bootstrap

#4147 Refactor/launch loop ctrl
  massa-api/src/lib.rs
  massa-api/src/private.rs
  massa-api/src/public.rs
  massa-node/src/main.rs
Labels: node
