Repository massalabs/massa, pull requests merged in 2025-03, with the labels that each got.

#4869 Deferred call / async msg context error
  massa-api/src/tests/public.rs
  massa-async-pool/src/changes.rs
  massa-async-pool/src/lib.rs
  massa-async-pool/src/mapping_grpc.rs
  massa-async-pool/src/pool.rs
  massa-async-pool/src/test_exports/bootstrap.rs
  massa-event-cache/src/event_cache.rs
  massa-event-cache/src/ser_deser.rs
  massa-execution-exports/src/event_store.rs
  massa-execution-worker/src/active_history.rs
  massa-execution-worker/src/context.rs
  massa-execution-worker/src/execution.rs
  massa-execution-worker/src/interface_impl.rs
  massa-execution-worker/src/speculative_async_pool.rs
  massa-execution-worker/src/tests/scenarios_mandatories.rs
  massa-final-state/src/final_state.rs
  massa-final-state/src/mapping_grpc.rs
  massa-final-state/src/state_changes.rs
  massa-final-state/src/tests/scenarios.rs
  massa-grpc/src/tests/public.rs
  massa-models/src/async_msg.rs
  massa-models/src/async_msg_id.rs
  massa-models/src/lib.rs
  massa-models/src/mapping_grpc.rs
  massa-models/src/output_event.rs
Labels: p1

#4875 Add massa-node and massa-client disclaimer
  COMMUNITY_CHARTER.md
  Cargo.lock
  LICENSE.md
  README.md
  _typos.toml
  massa-client/base_config/config.toml
  massa-client/src/main.rs
  massa-client/src/settings.rs
  massa-models/Cargo.toml
  massa-models/src/config/constants.rs
  massa-models/src/config/massa_disclaimer.rs
  massa-models/src/config/mod.rs
  massa-node/base_config/config.toml
  massa-node/src/main.rs
  massa-node/src/settings.rs
Labels: p1, MAIN.2.5

#4873 Ensure ASC msg ordering is deterministic
  massa-async-pool/src/pool.rs
  massa-execution-worker/src/speculative_async_pool.rs
Labels: p1, MAIN.2.5

#4866 Several bootstrap and rocksdb improvements
  Cargo.lock
  Cargo.toml
  massa-async-pool/src/pool.rs
  massa-bootstrap/src/server.rs
  massa-db-exports/src/controller.rs
  massa-db-worker/Cargo.toml
  massa-db-worker/src/massa_db.rs
  massa-event-cache/Cargo.toml
  massa-execution-worker/Cargo.toml
  massa-final-state/src/final_state.rs
  massa-final-state/src/test_exports/mock.rs
  massa-ledger-worker/src/ledger_db.rs
  massa-module-cache/Cargo.toml
  massa-node/Cargo.toml
  massa-node/base_config/config.toml
  massa-node/src/jemalloc_init.rs
  massa-node/src/main.rs
  massa-versioning/src/versioning.rs
Labels: MAIN.2.5
