Repository massalabs/massa, pull requests merged in 2025-02, with the labels that each got.

#4809 Datastore keys queries (JSON RPC / GRPC)
  Cargo.lock
  Cargo.toml
  massa-api-exports/src/address.rs
  massa-api-exports/src/config.rs
  massa-api/src/lib.rs
  massa-api/src/private.rs
  massa-api/src/public.rs
  massa-api/src/tests/mock.rs
  massa-execution-exports/src/mapping_grpc.rs
  massa-execution-exports/src/types.rs
  massa-execution-worker/src/context.rs
  massa-execution-worker/src/controller.rs
  massa-execution-worker/src/datastore_scan.rs
  massa-execution-worker/src/execution.rs
  massa-execution-worker/src/interface_impl.rs
  massa-execution-worker/src/lib.rs
  massa-execution-worker/src/speculative_ledger.rs
  massa-execution-worker/src/tests/mod.rs
  massa-execution-worker/src/tests/scenarios_mandatories.rs
  massa-execution-worker/src/tests/tests_scan_datastore.rs
  massa-grpc/src/config.rs
  massa-grpc/src/public.rs
  massa-grpc/src/tests/mock.rs
  massa-ledger-exports/src/controller.rs
  massa-ledger-worker/src/ledger.rs
  massa-ledger-worker/src/ledger_db.rs
  massa-models/src/datastore.rs
  massa-node/base_config/config.toml
  massa-node/base_config/openrpc.json
  massa-node/src/main.rs
  massa-node/src/settings.rs
Labels: api, MAIN.2.6

#4834 NewSlotExecutionOutputs filters
  Cargo.lock
  massa-grpc/Cargo.toml
  massa-grpc/src/stream/new_slot_execution_outputs.rs
  massa-grpc/src/tests/stream.rs
Labels: blocked, p2, api, MAIN.2.6

#4851 Deferred_call : cancelled gas
  Cargo.lock
  massa-db-exports/src/constants.rs
  massa-deferred-calls/Cargo.toml
  massa-deferred-calls/src/lib.rs
  massa-deferred-calls/src/registry_changes.rs
  massa-execution-worker/src/execution.rs
  massa-execution-worker/src/speculative_deferred_calls.rs
  massa-execution-worker/src/tests/scenarios_mandatories.rs
  massa-final-state/src/final_state.rs
  massa-metrics/src/lib.rs
Labels: bug, MAIN.2.5

#4853 unidirectional stream
  Cargo.lock
  massa-grpc/src/config.rs
  massa-grpc/src/handler.rs
  massa-grpc/src/server.rs
  massa-grpc/src/stream/mod.rs
  massa-grpc/src/stream/new_blocks.rs
  massa-grpc/src/stream/new_endorsements.rs
  massa-grpc/src/stream/new_filled_blocks.rs
  massa-grpc/src/stream/new_operations.rs
  massa-grpc/src/stream/new_slot_execution_outputs.rs
  massa-grpc/src/stream/trait_filters_impl.rs
  massa-grpc/src/stream/tx_throughput.rs
  massa-grpc/src/tests/mock.rs
  massa-node/base_config/config.toml
  massa-node/src/main.rs
  massa-node/src/settings.rs
Labels: enhancement, api, MAIN.2.6
